@import "../../../../styles/variables.scss";

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(227, 217, 204), rgba(22, 15, 9));

  .menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;

    .icon {
      width: 28px;
      height: 5px;
      border: none;
      border-radius: 3px;
      background-color: $icon-background-color;
      margin: 4px 30px;
    }
  }

  .main-heading {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: $font-color;
  }
}

.fa-user {
  color: $icon-color;
  font-size: 20px;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: $font-color;
  margin-right: 60px;
}

@media (max-width: 575.98px) {
  .header {
    .main-heading {
      font-size: 25px;
    }

    .menu-logo {
      .icon {
        width: 24px;
        height: 4px;
        margin: 4px 15px;
      }
    }
  }
}
