@import "../../../../../styles/variables.scss";
@import "../../../../../styles/error-wrapper.scss";

:host {
  .wrapper {
    max-width: 85vw;
    margin: auto;

    .main-heading-container {
      max-width: 60vw;
      margin: auto;

      .main-heading {
        color: $font-color;
        font-size: 30px;
        font-weight: 700;
        margin: 15px 0px 40px 0px;
      }
    }

    .book-overview-content {
      max-width: 60vw;
      background-color: $books-background-color;
      border-radius: 3px;
      padding: 20px;
      margin: auto;
      overflow: hidden;

      .book-overview-heading {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        cursor: default;
      }

      mat-card-header {
        &::ng-deep .mat-card-header-text {
          margin: 0px;
        }
      }

      .all-description {
        display: flex;
        justify-content: space-between;

        .book-overview-img {
          max-width: 240px;
          min-height: 360px;
          border-radius: 3px;
          margin-right: 30px;
        }

        .book-overview-text {
          font-size: 16px;
          margin: 0px 15px 12px;
        }

        .book-overview-description {
          height: 90px;
          font-size: 16px;
          overflow: hidden;
          margin: 10px 15px;
        }

        .book-overview-author-description {
          height: 70px;
          font-size: 16px;
          overflow: hidden;
          margin: 15px 15px 0px 15px;
        }
      }
    }

    .close-btn-wrapper {
      max-width: 60vw;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin: auto;
    }

    .close-btn {
      font-size: 17px;
      background-color: $btn-background-color;
      color: $font-color;
      padding: 10px 40px;
      border-radius: 4px;
      margin: 10px 0;
      text-transform: uppercase;
    }
  }

  .error-wrapper {
    @include error-wrapper;
  }

  @media only screen and (min-width: 576px) and (max-width: 768px) {
    .all-description {
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 576px) {
    .all-description {
      flex-wrap: wrap;
    }
  }
}
