@import "../styles/variables.scss";

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.form-input {
  input {
    width: 40vw;
    font-size: 17px;
    padding: 10px;
    background-color: $font-color;
    border-radius: 3px;
    border: none;
    margin: 15px 0px;
  }

  .fa-search {
    font-size: 22px;
    position: absolute;
    top: 17px;
    left: 44%;
    transform: translateY(7px);
  }

  .fa-chevron-down {
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    right: 3%;
    transform: translateY(12px);
  }
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    width: 40vw;
    padding: 5px 10px;
    background-color: $font-color;
    border-radius: 3px;
    border: none;
    margin: 15px 0px;
    min-height: 43.5px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
  }
}

::ng-deep {
  .ng-tns-c75-0 {
    border-top: 0px solid transparent;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-select-placeholder {
    font-size: 0px;
  }
  .mat-select-arrow-wrapper .ng-tns-c78-1 {
    opacity: 0;
  }
}
