@import "./variables.scss";

@mixin form-input {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .form-input {
    width: 38vw;
    font-size: 16px;
    padding: 6px 10px;
    background-color: $font-color;
    border-radius: 3px;
    margin: 15px 0px;

    .text-label {
      color: $placeholder-color;
    }

    input {
      width: 91%;
    }

    .mat-icon {
      font-size: 30px;
      position: absolute;
      right: 0px;
      bottom: 8px;
    }
  }

  ::ng-deep {
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0px;

      .mat-form-field-infix {
        border-top: none;
      }
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-select-arrow {
      display: none;
    }
  }
}
