@import "./variables.scss";

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.form-input {
  width: 40vw;
  font-size: 17px;
  padding: 6px 10px;
  background-color: $font-color;
  border-radius: 3px;
  margin: 15px 0px;

  .text-label {
    color: $placeholder-color;
  }

  .mat-icon {
    font-size: 30px;
    position: absolute;
    right: 0px;
    bottom: 8px;
  }
}

:host ::ng-deep {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;

    .mat-form-field-infix {
      border-top: 0px solid transparent;
    }
  }

  .mat-form-field-underline {
    display: none;
  }
}
