<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidebar class="app-sidebar" mode="side" [opened]="isOpen">
    <mat-accordion>
      <mat-nav-list>
        <mat-expansion-panel class="expansion-panel homepage-item">
          <mat-expansion-panel-header
            routerLink="books/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon>home</mat-icon><span>HOMEPAGE</span>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-icon>list</mat-icon><span>CATEGORIES</span>
          </mat-expansion-panel-header>
          <mat-nav-list class="nav-list-items">
            <a mat-list-item *ngFor="let category of categories">{{
              category
            }}</a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header
            routerLink="admin/books"
            routerLinkActive="active"
          >
            <mat-icon>verified_user</mat-icon><span>ADMIN</span>
          </mat-expansion-panel-header>
          <mat-nav-list class="nav-list-items">
            <a
              mat-list-item
              routerLink="admin/books"
              routerLinkActive="active-item"
              >Books</a
            >
            <a mat-list-item>Categories</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-sidebar-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
