@import "../../../../styles/variables.scss";

.pagination {
  display: flex;
  justify-content: flex-end;
  max-width: 80vw;
  transform: translate(30px, -20px);
  margin-top: 10px;
  color: $font-color;
  background-color: transparent;
  padding: 0px;
}

:host ::ng-deep {
  .mat-select-min-line {
    color: $font-color;
  }
  .mat-select-arrow {
    color: $font-color;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $font-color;
  }
}

@media (max-width: 575.98px) {
  .pagination {
    width: 200px;
  }
}
