@import "../../../../styles/variables.scss";

:host {
  .pagination {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-20px);
    margin-top: 10px;
    color: $font-color;
    background-color: transparent;
    padding: 0px;
  }

  ::ng-deep {
    .mat-select-min-line {
      color: $font-color;
    }
    .mat-select-arrow {
      color: $font-color;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: $font-color;
    }
  }
}
