@import "styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
}

body {
  background: no-repeat url("./assets/images/golden-book-image.png"),
    $primary-color;
  background-position: left 10% bottom 50%, center;
  background-size: 680px 630px, contain;
  height: 100%;
  max-width: 100%;
  position: relative;
}
