:host {
  max-width: 85vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
  border: transparent;
}

.book-content {
  width: 400px;
  height: 200px;
  background-color: rgb(242, 239, 220);
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;

  .book-heading {
    max-height: 20px;
    font-size: 15px;
    font-weight: 700;
    margin: 3px 10px 5px 0;
  }

  .all-description {
    display: flex;
    justify-content: space-between;

    .img {
      margin-right: 15px;
      width: 100px;
      height: 150px;
      border-radius: 3px;
    }
    .author {
      font-size: 14px;
      margin: 0;
    }
    .book-category {
      font-size: 13px;
      margin-bottom: 8px;
    }
    .book-description {
      max-width: 1200px;
      height: 70px;
      font-size: 13px;
      overflow: hidden;
    }

    .book-btn {
      color: rgb(219, 215, 198);
      background-color: rgb(131, 126, 114);
      border: none;
      border-radius: 3px;
      padding: 5px 15px;
      margin: 0px 5px;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

mat-card-header {
  &::ng-deep .mat-card-header-text {
    margin: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .book-content {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 5px;

    .all-description {
      flex-wrap: wrap;

      .img {
        width: 100%;
        height: auto;
        margin-right: 5px;
      }
      .book-description {
        width: 100%;
        margin-top: 5px;
      }
      .book-btn {
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .book-content {
    width: 500px;
    height: auto;
    padding: 5px;
    margin-top: 5px;

    .all-description {
      .img {
        width: 150px;
        height: auto;
        margin-right: 20px;
      }
      .book-description {
        height: 120px;
        margin-top: 5px;
      }
      .book-btn {
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .book-content {
    width: 48%;

    .all-description {
      flex-wrap: nowrap;

      .img {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .book-content {
    width: 31%;
    height: 210px;
  }
}

@media only screen and (min-width: 1200px) {
  .book-content {
    width: 31%;
  }
}
