<div class="wrapper" *ngIf="bookDetails">
  <div class="main-heading-container">
    <h2 class="main-heading">Book Overview - {{ bookDetails.title }}</h2>
  </div>
  <mat-card
    class="book-overview-content"
    [appCategoryColor]="bookDetails.category"
  >
    <mat-card-header class="book-overview-title">
      <mat-card-title class="book-overview-heading">{{
        bookDetails.title
      }}</mat-card-title>
    </mat-card-header>
    <div class="all-description">
      <mat-card-content class="card-content">
        <img src="{{ bookDetails.url }}" class="book-overview-img" />
      </mat-card-content>
      <div class="description">
        <p style="color: red">BookId: # {{ bookId }}</p>
        <h4 class="book-overview-text">
          {{ bookDetails.author }},
          {{ bookDetails.publishedDate | date : "yyyy" }}
        </h4>
        <p class="book-overview-text">Country: {{ bookDetails.country }}</p>
        <p class="book-overview-text">Category: {{ bookDetails.category }}</p>
        <p class="book-overview-text">ISBN: {{ bookDetails.isbn }}</p>
        <p class="book-overview-description">{{ bookDetails.description }}</p>
        <h4 class="book-overview-text">
          {{ bookDetails.author }},{{ bookDetails.country }}
        </h4>
        <p class="book-overview-author-description">
          {{ bookDetails.authorDescription }}
        </p>
      </div>
    </div>
  </mat-card>
  <div class="close-btn-wrapper">
    <button class="close-btn" routerLink="/books">Close</button>
  </div>
</div>

<div class="error-wrapper" *ngIf="!bookDetails">
  <mat-icon>warning</mat-icon>
  <p>Book is not found!!!</p>
</div>
