@import "../../../../../styles/variables.scss";

:host {
  .wrapper {
    max-width: 85vw;
    margin: auto;

    .main-heading-container {
      width: 75vw;
      margin: auto;

      .main-heading {
        color: $font-color;
        font-size: 30px;
        font-weight: 700;
        margin: 15px 0px 40px 0px;
      }
    }

    .book-overview-content {
      max-width: 75vw;
      background-color: $books-background-color;
      border-radius: 3px;
      padding: 20px;
      margin: auto;

      .book-overview-heading {
        width: 300px;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        cursor: default;
      }

      mat-card-header {
        &::ng-deep .mat-card-header-text {
          margin: 0px;
        }
      }

      .all-description {
        display: flex;
        justify-content: space-between;

        .book-overview-img {
          width: 240px;
          height: 360px;
          border-radius: 3px;
          margin-right: 30px;
        }

        .book-overview-text {
          font-size: 16px;
          margin: 0px 15px 15px;
        }

        .book-overview-description {
          height: 90px;
          font-size: 16px;
          overflow: hidden;
          margin: 15px;
        }

        .book-overview-author-description {
          height: 70px;
          font-size: 16px;
          overflow: hidden;
          margin: 15px 15px 0px 15px;
        }
      }
    }

    .close-btn-wrapper {
      max-width: 75vw;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin: auto;
    }

    .close-btn {
      font-size: 20px;
      background-color: $btn-background-color;
      color: $font-color;
      padding: 12px 45px;
      border-radius: 4px;
      margin: 10px 0;
      text-transform: uppercase;
    }
  }
}
